<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> <br>Click below to check out each skill!</p>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <form action="/skills/<%= s.skill %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
            <a href="/show/<%= s.skill %>"><%= s.skill %></a>
         
        </li>
      <% }); %>
    </ul>
    <a href="skills/new">ADD A SKILL</a>
  
 
  
  </body>
</html>




